.key {
  position: relative;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white;
  width: 14.28%;
  height: 50vh;
  z-index: 0;
  margin-left: -0.2%;
  margin-right: -0.2%;
}

.key.active {
  background-color: #ccc;
}

.key.middleC {
  position: relative;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: cornsilk;
  width: 14.28%;
  height: 50vh;
  z-index: 0;
  margin-left: -0.1%;
  margin-right: -0.1%;
}

.key.middleC.active {
  background-color: #ccc;
}
